<nav>
    <h1>QAP3</h1>
    <a href="/">[home]</a>
    <a href="/addresses">[addresses]</a>
    <a href="/addresses/addressAdd">[ADD]</a>
    <a href="/addresses/:id/replace">[PUT/UPDATE]</a>
    <a href="/addressPatch">[PATCH/PARTIAL UPDATE]</a>
    <a href="/addresses/:id/delete">[DELETE]</a>
    


</nav>