<html lang="en">
    <link rel="stylesheet" href="/styles.css">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="delete-address content">
            <form action="/addresses/delete-address" method="POST">
                <label for="addressId">Enter Address ID to Delete:</label>
                <input type="text" id="addressId" name="addressId" required>
                <button type="submit">Delete Address</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
